<div align="center">
    <mat-card class="example-card">
     <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>{{wonderProps.name}}</mat-card-title>
     
     </mat-card-header>
     <img mat-card-image src="/assets/cricket-bat.jpg" alt="Photo of a TajMahal">
     <mat-card-content>
        <p>
            These are from the best company which give good shots when a player uses it.The treads are made of fine and strong.
            cost=700INR
            Availability=Available
        </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button>BUY NOW</button>
    </mat-card-actions>
    </mat-card>
   </div>