<div align="center">
    <mat-card class="example-card">
     <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>{{wonderProps.name}}</mat-card-title>
     
     </mat-card-header>
     <img mat-card-image src="/assets/hockey-stick.jpg" alt="Photo of a TajMahal">
     <mat-card-content>
         <p>
             This Hockey-Stick is the best for its long period of service.It also weights very less which is more comfortable for the player.
             cost=500INR
             Availability=Available
         </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button>BUY NOW</button>
    </mat-card-actions>
    </mat-card>
   </div>